.faq {
  /* background:  */
  width: 80%;
  margin: 0em auto 1em auto;
  display: flex;
  flex-direction: column;
  height: 33rem;
  align-items: center;
}

.faq-container {
  padding-bottom: 10px;
}

.faq-image {
  width: 95%;
  margin-left: auto;
}

.faq-block {
  margin-left: 2%;
  width: 45vw;
  height: auto;
  border-radius: 8px;
  /* padding: 15px 40px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

.faq-question {
  font-weight: 900;
  font-size: 1.1rem;
}

.accord-title {
  padding: 2rem 0;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 600px) {
  .accord-title {
    padding: 1.2rem 0;
    text-align: center;
  }

  .faq {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .faq-image {
    width: 90%;
  }

  .faq-block {
    width: 90%;
    margin: 1em 0 2em;
  }

  .faq-question {
    font-size: 0.85em;
  }

  .faq {
    height: 28rem;
  }
}

.accord-dark {
  background: #413D4B;
  margin: 0;
  border-radius: 10;
}

/* .accord-dark:hover {
  background: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  transition: all 0.3s ease-in-out;
} */
