.frame-9,
.frame-9 * {
  box-sizing: border-box;
}

.frame-9 {
  background: #ffffff;
  padding: 95px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.frame-12 {
  background: #d30f54;
  border-radius: 29.86px;
  padding: 8.21px 18.66px 8.21px 18.66px;
  display: flex;
  flex-direction: row;
    gap: 7.47px;
  align-items: center;
  justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.the-death-that-you-deservioli {
  color: #ffffff;
  text-align: center;
  font: 600 17.92px "Inter", sans-serif;
    position: relative;
    letter-spacing: -0.896px;
}

.vector-29 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 56px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.that-combo-was {
  color: #000000;
  text-align: center;
  font: 600 64px "Inter", sans-serif;
  position: relative;
  width: 463px;
  height: 62.12px;
  letter-spacing: -3.84px;
}

.lame {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.you-re-not-just-playing-to-win-anymore-you-re-going-for-glory-you-know-you-can-do-it-just-don-t-brick-it-in-the-final-stretch {
  color: #000000;
  text-align: center;
  font: 600 15px "Inter", sans-serif;
  position: relative;
}

.frame-14 {
  border-radius: 20px;
  flex-shrink: 0;
  width: 677px;
  height: 322px;
  position: relative;
}

._6409-cc-33289-b-0-1 {
  border-radius: 37px;
  width: 677px;
  height: 322px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.image-4 {
  width: 368.45px;
  height: 385.73px;
  position: absolute;
  left: 126.79px;
  top: -73.32px;
}
